// CFP Page

// Landing Image
#landing {
  margin: 100px auto;
}

// Introduce
#topic {
  @include span(6 omega);
}

#introduce {
  @include span(6);
}

#spirit {
  @include span(6);
}

#footer {
  margin-top: 2em;
  margin-bottom: 3em;
}

.row {
  .left { @include span(6); }
  .right { @include span(6 omega); }
}

.panel {
  position: relative;
  padding: 2em;

  border: 1px solid $grayAlpha;
  margin-top: 1em;
  margin-bottom: 1em;

  &:before, &:after {
    position: absolute;
    top: -4px;
    bottom: -4px;

    content: '';
    border-left: 2px solid $gray;
  }

  &:before {
    left: -6px;
  }

  &:after {
    right: -6px;
  }
}

