// Time Bar

.time-bar {
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    position: relative;

    display: block;
    padding: 0.35em 1em 0.25em;

    color: $gray;
    background: $primaryColor;

    @include push(0.5);
    @include span(3.5);

    &.first {
      @include push(0.25);
    }

    &.last {
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -34px;

      @include arrow(17px, $primaryColor);
    }
  }
}
