// About

#about {
  .landing-item {
    position: relative;
    padding-top: 100% * 9/16;

    @include background-size(contain);
  }

  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: image-url('mask.png');
  }
}
