// About

#about {
  .landing-item {
    position: relative;
    padding-top: 100% * 9/16;

    overflow: hidden;

    @include background-size(contain);
  }

  .landing-item-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    background: image-url('mask.png');
  }

  .landing-item-cover {
    width: 100%;
    min-height: 100%;

    margin-left: -50%;

    background: rgba($secondaryColor, 0.5);

    @include transform(skewX(-20deg));

    & .inner {
      padding-left: 50%;
      padding-right: 10%;

      @include transform(skewX(20deg));
    }

    &.is-right {
      margin-left: 50%;

      @include transform(skewX(-20deg));

      & .inner {
        padding-left: 10%;
        padding-right: 55%;

        @include transform(skewX(20deg));
      }
    }
  }

  .landing-item-content {
    position: absolute;
    top: 7em;
    right: 3em;
    bottom: 7em;
    left: 3em;
  }

  .landing-item-article {

    color: $white;
    @include adjust-font-size-to(18px);
    @include clearfix;

    line-height: 1.5em;

    h1 {
      font-weight: bold;
      @include adjust-font-size-to(20px);
    }
  }
}
