// About

#about {
  .landing-item {
    position: relative;

    @include at-breakpoint($screen-md) {
      padding-top: 100% * 9/16;

      overflow: hidden;

      @include background-size(contain);
    }
  }

  .landing-item-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    background: image-url('mask.png');
  }

  .landing-item-cover {
    width: 100%;
    min-height: 100%;


    background: rgba($secondaryColor, 0.5);


    @include at-breakpoint($screen-md) {
      margin-left: -50%;
      @include transform(skewX(-20deg));
    }

    & .inner {
      padding-left: 50%;
      padding-right: 10%;

      @include transform(skewX(20deg));
    }

    &.is-right {

      @include at-breakpoint($screen-md) {
        margin-left: 50%;
        @include transform(skewX(-20deg));
      }

      & .inner {
        padding-left: 10%;
        padding-right: 55%;

        @include transform(skewX(20deg));
      }
    }
  }

  .landing-item-content {
    @include at-breakpoint($screen-md) {
      position: absolute;
      top: 7em;
      right: 3em;
      bottom: 7em;
      left: 3em;
    }
  }

  .landing-item-article {

    padding: 0.5em 1em;

    color: $white;
    @include adjust-font-size-to(18px);
    @include clearfix;

    line-height: 1.5em;

    @include at-breakpoint($screen-md) {
      padding: 0;
    }

    h1 {
      font-weight: bold;
      @include adjust-font-size-to(20px);
    }
  }
}

// Landing Parallax

.landing-parallax-item {
  position: relative;
  padding-top: 100% * 9/16;

  overflow: hidden;
}

.parallax-scene, .layer {
  width: 100%;
  height: 100%;
}

// Fix for firefox layer order issue

.parallax-scene {
  .layer {
    pointer-events: none;
  }
  #landing-register {
    pointer-events: auto;
  }
}

.layer {
  position: absolute;
}

#landing-parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .landing-logo {
    position: absolute;
    display: none;

    @include at-breakpoint($screen-xs) {
      display: block;
    }
  }

  .position1 {
    top: 50%;
    left: 15%;

    @include transform(rotate(15deg));
  }

  .position2 {
    top: 35%;
    right: 19%;

    @include transform(rotate(-20deg));
  }

  .position3 {
    top: 70%;
    left: 35%;

    @include transform(rotate(-67deg));
  }

  .position4 {
    top: 80%;
    right: 40%;

    @include transform(rotate(55deg));
  }
}

#landing-character-left {
  img {
    position: absolute;
    top: 2em;
    left: -20%;

    @include at-breakpoint($screen-xs) {
      left: -10%;
    }

    @include at-breakpoint($screen-sm) {
      left: -5%;
    }

    @include at-breakpoint($screen-md) {
      left: 10%;
    }

    @include at-breakpoint($screen-lg) {
      left: 15%;
    }
  }
}

#landing-character-right {
  img {
    position: absolute;
    top: 2em;
    right: -10%;

    @include at-breakpoint($screen-xs) {
      right: -5%;
    }

    @include at-breakpoint($screen-sm) {
      right: 0;
    }

    @include at-breakpoint($screen-md) {
      right: 15%;
    }

    @include at-breakpoint($screen-lg) {
      right: 20%;
    }
  }
}

#landing-register {
  text-align: center;
  padding-top: 7em;

  a {
    width: 120px;
    height: 120px;

    @include adjust-font-size-to(18px);
    line-height: 110px;

    @include border-radius(50%);

    color: $white;
    background: $primaryColor center;

    @include transition(150ms ease-in);

    &:hover {
      text-indent: -999999px;
      color: $primaryColor;
      background-image: image-url('cross.png');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

#coc {
  color: $white;

  margin-top: 1em;

  p {
    @include adjust-font-size-to(18px, 1.25);
  }

  li {
    @include adjust-font-size-to(18px, 1.25);
  }
}
