// Page

.page-frame {
  position: relative;
}

.page-enter {
  @include opacity(0.01);
  @include transition(250ms ease-in);

  &.page-enter-active {
    @include opacity(1);
  }
}

.page-leave {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;

  @include opacity(1);
  @include transition(250ms ease-out);

  &.page-leave-active {
    @include opacity(0.01);
  }
}

